<div class="row flex-column panel dark-panel" style="font-size: 10px; padding-bottom: 0;">
    <div>
        <a id="privacyLink" class="tbfooter" href="https://www.oracle.com/legal/privacy/index.html"
            style="font-family:'Oracle Sans', Noto Sans, Helvetica, Arial, Sans; color:#FFFFFF; text-decoration:none; word-break:break-all; white-space: nowrap;"
            target="_blank">Terms of Use and Privacy</a>
        <span class="tbfooter" style="color:#FFFFFF;">|</span>
        <a id="subscribeLink" class="subscribe tbfooter"
            href="https://go.oracle.com/subscribe?l_code=en-us&amp;src1=EM:FO"
            style="font-family:'Oracle Sans', Noto Sans, Helvetica, Arial, Sans; color:#FFFFFF; text-decoration:none; word-break:break-all; white-space: nowrap;"
            target="_blank">Subscriptions</a>
        <span class="subscribe tbfooter" style="color:#FFFFFF;">|</span>
        <a id="unsubscribeLink" class="tbfooter" href="https://go.oracle.com/dne?l_code=en-us"
            style="font-family:'Oracle Sans', Noto Sans, Helvetica, Arial, Sans; color:#FFFFFF; text-decoration:none; word-break:break-all; white-space: nowrap;"
            target="_blank">Unsubscribe</a> <span class="tbfooter" style="color:#FFFFFF;">|</span>
        <a id="contactusLink" class="tbfooter" href="https://www.oracle.com/corporate/contact/global.html"
            style="font-family:'Oracle Sans', Noto Sans, Helvetica, Arial, Sans; color:#FFFFFF; text-decoration:none; word-break:break-all; white-space: nowrap;"
            target="_blank">Contact Us</a> <span class="tbfooter" style="color:#FFFFFF;">|</span>&nbsp;<span
            id="teconsent"
            style="font-family: Oracle Sans, Noto Sans, Helvetica, Arial, Sans; color: rgb(255, 255, 255); text-decoration: none; word-break: break-all; white-space: nowrap; display: inline;"
            consent="0,1,2" aria-label="Open Cookie Preferences Modal" role="complementary">
            <script async="async" type="text/javascript" crossorigin=""
                src="https://consent-st.trustarc.com/asset/notice.js/v/v1.7-194"></script><a role="link"
                id="icon-id09479440310902998" tabindex="0" lang="en" style="cursor: pointer;">Cookie Preferences</a>
    </div>
    <div class="mt-3 ">
        <p>Copyright © 2020, Oracle and/or its affiliates. All rights reserved. Oracle Corporation - Worldwide
            Headquarters,
            500 Oracle Parkway, OPL - E-mail Services, Redwood Shores, CA 94065, United States</p>
        <a href="http://www.oracle.com/us/corporate/index.html" target="_blank">
            <img src="https://www.oracle.com/a/ocom/img/dc/tb/rwd/o-red-tag.png" width="36" height="36" alt="Oracle"
                border="0" style="display:block;" class="float-right"></a>
    </div>