<div class="row flex-column panel light-panel" style="border-top: 1px solid rgba(0,0,0,0.125)">
    <h1>Please can we have your help?</h1>
    <h3>Gartner Peer Insights</h3>
    <p>Customer feedback submitted through Gartner Peer Insights is a key element in being recognised in Gartner's Enterprise Conversational AI Platforms Magic 
        Quadrant. It would greatly help us cement our position as a leader, as well as being a great honour to us, if our customers can leave feedback through 
        the Gartner Peer reviews. </p>

    <p>If you are willing please take a moment to write a review on Gartner Peer Insights about your experience with Oracle Digital Assistant. Reviews are 
        anonymous and take approximately 10 minutes to complete.</p>

    <div class="mt-3">
        <a class="btn green-button" href="https://gtnr.io/ybJ7aI89Y">submit your review</a>
    </div>

</div>
