<div class="row flex-column panel light-panel" style="border-top: 1px solid rgba(0,0,0,0.125)">
    <h1>We need your help!</h1>
    <h3>Gartner Peer Insights</h3>
    <p>Would you be willing to take a moment to submit a review on Gartner Peer Insights about your experience with
        Oracle Digital Assistant? Your opinion is important to us, and we value your feedback. Reviews are anonymous and
        take approximately 10 minutes to complete.</p>

    <p>As a thank-you, once your review is published, you’ll receive 3-months access to Gartner Peer Insights Plus.
        Please note that Gartner Peer Insights Plus is currently not available to consultants, systems integrators, or
        technology providers.</p>
    <div class="mt-3">
        <a class="btn green-button" href="https://gtnr.it/32IRBJj">submit your review</a>
    </div>

</div>
