---
layout: default
---
<div class="container" style="max-width: 614px;">

    <div class="row" style="background-color: #56504B; padding: 19px 55px">
        <div class="col">
            <img src="https://www.oracle.com/a/ocom/img/dc/tb/rwd/oracle-white-123x16px.png" alt="Oracle Logo"
                class="img-fluid float-left" style="display:block; max-width: 92px"></div>
        <div class="col">
            <img src="https://www.oracle.com/a/ocom/img/dc/tb/rwd/oracle-identifier-cloud-platform.png"
                alt="Identifier Logo" class="img-fluid float-right" style="display:block;" class="proLogoTagImage"
                width="auto" border="0">
        </div>
    </div>

    <div class="row">
        <img src="https://www.oracle.com/oce/dc/assets/CONTFBF5A28C4A164EDE86B26A1EDA1830A5/native/picture-header.png"
            style="display:block;" class="img-fluid" alt="Oracle Digital Assistant News"
            class="sc-bnr-hide tmpImage vb-fullwidth Mob-full-image" id="campaignImage" width="614" height="317"
            border="0">
    </div>

    <div class="row flex-column panel dark-panel">
        <h1>{{ page.title }}</h1>
        <div>
            <hr class="yellow-bar"/>
        </div>
        <p>Welcome to the complete collection of <b>Oracle Digital Assistant News</b>. From here you
            access all editions of our newsletter, including the most recent edition.</p>
        <p>Each month we endeavor to bring you a mix of industry views, customer stories, upcoming events, best
            practices and technical articles. Hopefully something for everyone, whatever your role.</p>
        <p>If you have anything you would like us to feature in a future edition please contact us via 
            <a href="https://twitter.com/intent/tweet?text=I%20want%20to%20submit%20content&hashtags=OracleODA,OracleODANews&via=oracle">
                Twitter
            </a>
            with #OracleODA #OracleODANews</p>
        <p>Please feel free to forward this newsletter to anybody who maybe interested and invite them to subscribe
            too.</p>
        <div class="mt-3">
            <a class="green-button"
                href="http://app.response.oracle-mail.com/e/er?elq_mid=174010&amp;sh=142697181317269518815021399&amp;cmid=&amp;s=1973398186&amp;lid=439993&amp;elqTrackId=c008728166fe4b2eb7c02c1565c80567&amp;elq=50e50271cab04b09befddf5ce4163ea4&amp;elqaid=174010&amp;elqat=1"
                target="_blank">
                subscribe
            </a>
        </div>
    </div>

    {{ content }}

    {% include footer.html %}
</div>

